<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= high_chart("launch_chart", @launch_chart) %>
    </div>
    <div class="col-md-6">
      <%= high_chart("aunch_chart_app_verison", @launch_chart_app_verison) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= high_chart("cpu_chart", @cpu_chart) %>
    </div>
    <div class="col-md-6">
      <%= high_chart("cpu_chart_app_verison", @cpu_chart_app_verison) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= high_chart("memory_chart", @memory_chart) %>
    </div>
    <div class="col-md-6">
      <%= high_chart("memory_chart_app_verison", @memory_chart_app_verison) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= high_chart("traffic_chart", @traffic_chart) %>
    </div>
    <div class="col-md-6">
      <%= high_chart("traffic_chart_app_verison", @traffic_chart_app_verison) %>
    </div>
  </div>

</div>